body{
    margin: 0;
}
.redbox{
    border: none;
    display:block;
    background-color: red;
    width: 100vw;
    height: 5vh;
    margin: auto;
    
    
}
.bottomnav{
    padding-top:5% ;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
}
.battomnav a{
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center; 
    
}
.bottombutton{
    background-color: white;
    border: none;
}
.battomnav a p{
    margin: auto;
    color: black;
    
}
.ดำ{
 
   position: fixed;
  bottom: 0;
  width: 100%;
}