body{
    margin: 0;
    box-sizing: border-box;
}
.redbox{
    border: none;
    display:block;
    background-color: red;
    width: 100vw;
    height: 5vh;
    margin: auto;
    
    
}
.selectedbotton{
    transform: scale(1.25);
}
.bottombutton{
    background-color: white;
    border: none;  
}
.navbar{
    padding-top:5%;
    padding-bottom:15%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
   
}
.navbar a{
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
}
.navbar a p{
    margin: auto;
    color: black;
}
.checkinclickhere{
    display: flex;
    justify-content: center;
    text-align: center;

}
.greenbtn{
    background-color: green;
    color: white;
    border:none;
    font-size: 2rem;
    padding: 10% 5%;
    border-radius: 20px;
    margin: 5%;
}
.redbtn{
    background-color: red;
    color: white;
    border:none;
    font-size: 2rem;
    padding: 10% 5%;
    border-radius: 20px;
    margin: 5%;
}
.checkinclickhere .bigblock{
    border: 1px solid lightgray;
    margin: auto;
    border-radius: 20px;
}
.bottomnav{
    padding-top:5% ;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
}
.battomnav a{
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center; 
    
}
.bottombutton{
    background-color: white;
    border: none;
}
.battomnav a p{
    margin: auto;
    color: black;
    
}
.selectedbosston{
    color: gray;
}
.ดำ{
 
   position: fixed;
  bottom: 0;
  width: 100%;
}